name: ga-aws-test

on:
  push:
    branches: [main]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: SSH and Deploy test
        uses: appleboy/ssh-action@master
        env:
          TITLE: ${{ secrets.TITLE }}
          DESCRIPTION: ${{ secrets.DESCRIPTION }}
          PORT: ${{ secrets.PORT }}
        with:
          port: 22
          host: ${{ secrets.PROD_SERVER }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          envs: TITLE,DESCRIPTION,PORT
          script: |
            cd /ga-aws-cd-ci
            [ -e .env ] && rm .env
            touch .env
            echo TITLE=$TITLE >> .env
            echo DESCRIPTION=$DESCRIPTION >> .env
            echo PORT=$PORT >> .env
            pm2 kill
            pm2 start index.js
