name: ga-aws-test

on:
  push:
    branches: [main]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: SSH and Deploy test
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: Deploying with CodeDeploy
        env:
          TITLE: ${{ secrets.TITLE }}
          DESCRIPTION: ${{ secrets.DESCRIPTION }}
          PORT: ${{ secrets.PORT }}
          PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          HOSTNAME: ${{ secrets.PROD_SERVER }}
          USER_NAME: ubuntu
        run: |
          ssh-keygen -t rsa -f my_rsa_key

          aws ec2-instance-connect send-ssh-public-key \
          --instance-id i-0bb7b8b61badd5c78 \
          --availability-zone us-east-2 \
          --instance-os-user $USER_NAME \
          --ssh-public-key file://my_rsa_key.pub
          ssh -o "IdentitiesOnly=yes" -i my_rsa_key $USER_NAME@ec2-3-142-80-51.us-east-2.compute.amazonaws.com

          [ -e .env ] && rm .env
          touch .env
          echo TITLE=$TITLE >> .env
          echo DESCRIPTION=$DESCRIPTION >> .env
          echo PORT=$PORT >> .env
          pm2 kill
          pm2 start index.js
