name: ga-aws-test

on:
  push:
    branches: [main]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: SSH and Deploy test
        uses: appleboy/ssh-action@master
        env:
          TITLE: ${{ secrets.TITLE }}
          DESCRIPTION: ${{ secrets.DESCRIPTION }}
          PORT: ${{ secrets.PORT }}
          PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          HOSTNAME: ${{ secrets.PROD_SERVER }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ec2-user@${HOSTNAME} '
          cd /ga-aws-cd-ci
          [ -e .env ] && rm .env
          touch .env
          echo TITLE=$TITLE >> .env
          echo DESCRIPTION=$DESCRIPTION >> .env
          echo PORT=$PORT >> .env
          pm2 kill
          pm2 start index.js
