name: ga-aws-test

on:
  push:
    branches: [main]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: SSH and Deploy test
        uses: appleboy/ssh-action@v0.0.8
        env:
          TITLE: ${{ secrets.TITLE }}
          DESCRIPTION: ${{ secrets.DESCRIPTION }}
          PROD_PORT: ${{ secrets.PROD_PORT }}
        with:
          host: ${{ secrets.PROD_SERVER }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          envs: TITLE,DESCRIPTION
          script: |
            cd ga-aws-cd-ci/
            export NVM_DIR="$HOME/.nvm"	
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # loads nvm	
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  
            npm install pm2@latest -g
            touch .env
            echo TITLE=$TITLE >> .env
            echo DESCRIPTION=$DESCRIPTION >> .env
            echo PORT=$PORT >> .env
            pm2 kill
            pm2 start index.js
